<div class="container-fluid" id="popup">
    <div class="row">
      <div class="col-md-12 col-xl-12">
        <div class="chat_section">
          <div class="popup_header">
            <h6 style="text-transform: uppercase;">Auditorium Status</h6>
            <a class="close" (click)="closePopup()"></a>
          </div>
          <div class="container-fluid" style="  background: #f2f4f7;">
            <div class="row pt-2">
              <div class="col-md-12 col-xl-12 p-0">
                <div class="chat_box">
                  <ul class="chat_message">
                   <h5 style="margin: 20px; text-align: center;">No active sessions today.</h5>
                    
                   
                  </ul>
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  