/* You can add global styles to this file, and also import other style files */
@import './app/shared/custom-style/custom.component.scss';

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

h1,h2,h3,h4,h5,h6,p,li,a{
    font-family: "Montserrat", sans-serif !important;
}
button:focus{
    outline: 0px auto -webkit-focus-ring-color;

}
.form-control{
    // padding: 1rem 3rem !important; 
    padding: 0rem 1rem !important;
    font-size: 1.3rem !important;
}
.form-control:focus{
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%) !important;
}
.btn:active:focus, .btn:focus{
    outline: 0px auto -webkit-focus-ring-color;
}